.menuContainer {
  float: left;
  height: 99%;
  margin-left: 10px;
  width: 130px;
  background-color: #FFFF;
}

.menuItem {
  text-decoration:none;
  text-align: center;
}

.linkMenu {
  text-decoration: none;
}

.iconMenu{
  margin-top: 25px
}


.textMenu{
  color: #7D7D7D;
  opacity: 1;
  font-size: 16px;
  margin-top: 4px;
}

.iconLogoFooter{
  margin-left: 25px;
  padding: 30px 0;
}

.menuList{
  height: calc(100% - 90px);
}

.aside{
  height: 100%;
}

.text{
  width: 80%;
}
