.productList{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-left: 65px;
  margin-top: 15px;
}

.hrStyle {
  width: 96%;
  margin-left: 68px;
  margin-top: 50px;
}

.containerProductsList{
  display: flex;
  flex-wrap: wrap;
}

.linkCard {
  text-decoration:none;
}
