.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 362px;
  background-color: #FFFF;
  height: 340px;
  margin-left: 55px;
  margin-top: 50px;
  cursor: pointer;
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.imageProduct {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageTagPromotion {
  position: absolute;
  width: 107px;
  height: 27px;
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
  bottom: 0;
  right: 0;
  font-size: 13px;
  font-weight: 100;
  color: #FFFF;
  background: red;
  background: transparent linear-gradient(125deg, #EF0E5A 0%, #55118F 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.imageTagExclusive {
  position: absolute;
  width: 107px;
  height: 27px;
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
  bottom: 0;
  right: 0;
  font-size: 13px;
  font-weight: 100;
  color: #FFFF;
  background: blue;
  background: transparent linear-gradient(125deg, #1DB6CE 0%, #182AC9 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}



.divValue {
  height: 30px;
  display: flex;
}

.btnFavorites{
  display: flex;
  border: none;
  margin-left: 22%;
}

.tagProducts {
    width: 100px;
    text-align: center;
    position: fixed;
    background-color: red;
    color: #FFFF;
    margin-left: 262px;
    margin-top: 53px;
}

.productText {
  height: 16px;
}

.textFavorites{
  margin-left: 5px;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textValue{
  font-weight: 700;
  font-size: 20px;
  color: #5E3BA5;
}

.switch {
  margin-top: 6px;
  position: relative;
  display: table-caption;
  width: 40px;
  height: 13px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
