.search {
  border-radius: 20px;
  padding: 4px 10px 4px 10px;
  background: #fff;
  margin: 0;
  height: 28px;
  width: 320px;
  align-self: center;
  margin-left: 735px;
}

.searchInput{
    background: transparent;
    box-shadow: none;
    font-size: 14px;
    border: 0px;
    width: 320px;
    line-height: 28px;
    height: 28px;
    z-index: 20000;
    top: 0px;
    padding: 0px 0px 0px 7px;
}
